name: Release on Tag

on:
  push:
    tags:
      - '[v0-9]*.[0-9]*.[0-9]*'
jobs:
  call-builder:
    uses: retracesoftware/.github/.github/workflows/release.yml@main  # path to the reusable workflow
    with:
      package_name: "retracesoftware_utils"
      release_tag: ${{ github.ref_name }}  # e.g. v1.2.3
    secrets: inherit  # if you add PyPI later
  
  publish-pypi:
    needs: call-builder
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write # Required for OIDC/Trusted Publishing
    steps:
      - name: Download all wheels
        uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: "*-wheels"
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
