name: Run Tests
# .github/workflows/ci.yml (inside the functional repo)
on: 
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    uses: retracesoftware/.github/.github/workflows/fast_test.yml@main